*{
	box-sizing:border-box;
}
.body{
	background-color:#FFFAFA;
	
}

.head{
	margin-top:10px;
	text-align:center;
	position:relative;
	padding-top:30px;
	height:150px;
	background-image:linear-gradient(to top, #6D5D5D , #A68B8B , #F5E4E4);
	color:rgb(85, 48, 48 );
	
}
.discrption{
	border-right:2px solid;
	margin-top:50px;
	text-align:justify;
	padding-right:10px;
}
.discrption2{
	border-left:2px solid;
	padding-left:10px;
	margin-top:50px;
	text-align:justify;
}

.services{
	text-align:center;	
}
.main h3{
	text-align:center;
	margin-top:50px;
}

h3{
	text-decoration:underline;
	font-size:25px;
	padding-left:10px;
	color:rgba(109, 76, 76 , 85%);
}
.main img{
	border-radius:200px;
	box-shadow:15px 15px 10px rgb(158, 153, 153);
}
.main img:hover{
	width:320px;
	height:320px;
}

.ofounder{
	text-align:center;
	margin-top:50px;
}
.founder1 img{
	display:inline;
	float:left;
	margin-right:15px;
	box-shadow:15px 15px 10px rgb(158, 153, 153);
}
.founder1{
	margin:40px 10px 50px 0px;
	
}

.founder2 img{
	display:inline;
	float:left;
	margin-right:15px;
	box-shadow:15px 15px 10px rgb(158, 153, 153);
}
.founder2{
	margin:40px 0px 50px 30px;
	
}

.footer{
	height:300px;
	background-color:#3E2020;
	color:white;
	
	font-weight:bold;
	box-shadow:10px 20px 10px rgb(195, 164, 164);
	
	
}

.footer p{
	padding-left:20px;
}

.footer h4{
	padding-left:10px;
}

.footer a{
	text-decoration:none;
	color:white;
	padding-right:60px;
	text-align:justify;
	
	
}





